* {
    box-sizing: border-box;
}

img {
    width: 50%;
}

iframe {
    display: block;
    width: 50%;
    height: 200px;
}

#copyright {
    display: block;
}

.hidden {
    display: none;
}